/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/spec/dummy/storage/*
/spec/dummy/log/*
/spec/dummy/tmp/*
/spec/dummy/test/*
spec/dummy/db/development.sqlite3
!/spec/dummy/tmp/caching-dev.txt

# rspec failure tracking
.rspec_status
